h1{
    color:blue;
}
h1 span{
    border-style:outset;
}
.abox{
    width:1400px;
    height:600px;
    border-style:outset;
    background-color:aqua;
}
.bbox{
    border-style:double:
    width:1100px;
}
img{
    float:right;
}
btn {
		color: white;
		padding: 10px 16px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 50%;
	}
	/* set a hover effect for the button*/

	btn:hover {
		opacity: 0.8;
	}
