body {
  font-family: Arial, Helvetica, sans-serif;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTAtdfb4V5TLi2SmfxLI9stAStDnQe346pY6Q&usqp=CAU");
  background-size: cover;
  background-attachment: fixed;

}
h1{
    color:blue;
}
h1 span{
    border-style:outset;
}
h6{
    color:white;
}
.abox{
    width:1400px;
    height:600px;
    border-style:outset;
}

.bbox{
    border-style:double:
    width:1100px;
}
img{
    float:right;
}
btn {
		color: white;
		padding: 10px 16px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 50%;
	}
	/* set a hover effect for the button*/

	btn:hover {
		opacity: 0.8;
	}
