form {
		border-style: outset;
		border-color:gray;
		width: 700px;
        height: 750px;
        margin: auto;
        position: relative;

}
.from-group{
}

/* Add padding to containers */
.container {
  padding: 16px;
  hight:500px;
  width:700px;
}

/* Full-width input fields */
input[type=text], input[type=number], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=number];focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #ff0000;
  margin-bottom: 10px;
}
.btn {

  color: white;
  padding: 10px 16px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
}

.btn:hover {
  opacity:1;
}


}
