.abox{
border:3px solid black;
background-color:white;
}

.brow
{
    border:2px solid red;
}
.navbar-toggler {
  display: none;
}

/* _navbar.scss:228 */
.navbar-toggler {
  color: $navbar-light-color;
  border-color: $navbar-light-toggler-border-color;
}

/* _navbar.scss:280 */
.navbar-toggler {
  color: $navbar-dark-color;
  border-color: $navbar-dark-toggler-border-color;
}
.button{
        color: white;
		padding: 09px 15px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 50%;
}
.arow
{
    hight:15px;
    border:2px solid black;
    }
img{
float: right;
}
.img-thumbnail{
    hight:300px;
    width:300px;
}
.btn {
        color: white;
		padding: 09px 15px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 50%;
	}
	/* set a hover effect for the button*/

	button:hover {
		opacity: 0.8;
	}
