h1{
    color-orange;
}
h1 span{
    border-style:outset;
}
.navbar-toggler {
  display: none;
}

/* _navbar.scss:228 */
.navbar-toggler {
  color: $navbar-light-color;
  border-color: $navbar-light-toggler-border-color;
}

/* _navbar.scss:280 */
.navbar-toggler {
  color: $navbar-dark-color;
  border-color: $navbar-dark-toggler-border-color;
}
.container{
    border-style:outset;
    border-color:green;
}
img{
float: right;
}
.img-thumbnail{
    hight:300px;
    width:300px;
}
.btn {
        color: white;
		padding: 8px 8px;
		margin: 4px 0;
		border: none;
		cursor: pointer;
		width: 100%;
	}
	/* set a hover effect for the button*/

	btn:hover {
		opacity: 0.8;
	}
