body {
  font-family: Arial, Helvetica, sans-serif;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTAtdfb4V5TLi2SmfxLI9stAStDnQe346pY6Q&usqp=CAU");
  background-size: cover;
  background-attachment: fixed;

}
h2{
color:white}
* {
  box-sizing: border-box;
}
.imgcontainer {
		text-align: center;
		margin: 20px 0 10px 0;
	}
	/*set image properties*/

	img.oss {
		width: 20%;
		border-radius: 20%;
	}

input[type=text],input[type=password]  {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.box{
    margin-top:100px;

}
.resetbtn {
		margin-top:20px;
		width: auto;
		padding: 7px 15px;
		background-color: #f44336;
	}

	/*set the forgot password text*/

	span.psw {
		margin-top:20px;
		float: right;
		padding-top: 16px;
	}
	/*set styles for span and cancel button on small screens*/

	@media screen and (max-width: 300px) {
		span.psw {
			display: block;
			float: none;
		}
		.resetbtn {
			width: 100%;
		}
