.cbox
{
    border:2px solid blue;
    background-color:white;
}
.imgcontainer {
		text-align: center; 
		margin: 20px 0 10px 0;
	} 
	/*set image properties*/ 
.img-thumbnail{
    width: 20%;
    border:1px solid blue;
    border-radius: 20%;
}
